@model PaginatedList<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    @foreach (var student in Model)
    {
        <div class="row">
            <div class="card">
                <div class="col-12 ">
                    Id: @student.Id.ToString()
                    <br />
                    Name: @student.Name
                </div>
            </div>
        </div>
        <br />
        <br />
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a asp-action="Index" asp-route-pageIndex="@i">@i.ToString()</a>
    }
</div>
