<input id="search-input" type="text" />
<button id="search-button" onclick="fetchEmployee()">Search</button>

<br />

<a>Full Name: </a>
<input readonly id="employee-fullname-input" />

<a>Salary: </a>
<input readonly id="employee-salary-input" />

<script>
    const url = 'https://localhost:44363';
    function fetchEmployee() {
        console.log(document.getElementById('search-input').value, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        });
        fetch(url + `/api1.1/Employee/${document.getElementById('search-input').value}`)
            .then(response => response.json())
            .then(data =>
            {
                document.getElementById('employee-fullname-input').value = data.fullName;
                document.getElementById('employee-salary-input').value = data.salary;
            });
    }
</script>